In [1]:
import pandas as pd

#### Novo db com leitos

In [59]:
df = pd.read_csv("rlEstabComplementar202502.csv", encoding='latin1', sep=';')
df.head()

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2802106755941,11,1,NaN,2,NaN,1,23/04/2024,ESTANCIA,24/08/2019
1,3113002179172,33,2,NaN,16,NaN,16,13/02/2025,MESTRE,25/04/2007
2,3113002179172,45,5,NaN,11,NaN,11,13/02/2025,MESTRE,25/04/2007
3,3113202098407,10,4,NaN,5,NaN,5,27/02/2025,311320,25/04/2007
4,3113202098407,45,5,NaN,3,NaN,3,27/02/2025,311320,25/04/2007

In [60]:
result = df.groupby('CO_UNIDADE').agg(
    QT_EXIST=('QT_EXIST', 'sum'),
    QT_SUS=('QT_SUS', 'sum')
).reset_index()

result.head()

      CO_UNIDADE  QT_EXIST  QT_SUS
0  1100012516500         6       0
1  1100012679477        51      51
2  1100020102091        28       8
3  1100020145378        12       0
4  1100022494280        37      37

#### Estabelecimentos

In [61]:
df_unid = pd.read_csv(r'C:\Users\Carlos\PainelSaude\base\tbEstabelecimento202502.csv', encoding='latin1', sep=';')

df_unid.head()

C:\Users\Carlos\AppData\Local\Temp\ipykernel_69424\426208020.py:1: DtypeWarning: Columns (0,14,15,36,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_unid = pd.read_csv(r'C:\Users\Carlos\PainelSaude\base\tbEstabelecimento202502.csv', encoding='latin1', sep=';')

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')",CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL,ST_CONTRATO_FORMALIZADO,CO_TIPO_ABRANGENCIA,ST_COWORKING
0,2609602569302,2569302,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF BULTRINS MONTE II,RUA PREFEITO MANOEL REGUEIRA,540,NaN,...,S,NaN,NaN,M,18/06/2003,NaN,NaN,NaN,NaN,NaN
1,2609602571943,2571943,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,UNIDADE MOVEL,RUA DO SOL,311,NaN,...,N,NaN,NaN,M,18/06/2003,16.0,1.0,NaN,NaN,N
2,2609602344637,2344637,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ALTO DA MINA,RUA AVENCA,49,NaN,...,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN,N
3,2609602344696,2344696,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ILHA DE SANTANA I E II,RUA DA INTEGRACAO,S/N,NaN,...,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN,N
4,3112002142295,2142295,NaN,3,1,FUNDACAO COMUNITARIA DE SAUDE DE CANDEIAS,HOSPITAL CARLOS CHAGAS,AVENIDA PEDRO VIEIRA DE AZEVEDO,687,NaN,...,S,NaN,NaN,M,21/03/2002,6.0,9.0,S,NaN,N

In [74]:
# Convert CO_UNIDADE to string for comparison
result['CO_UNIDADE'] = result['CO_UNIDADE'].astype(str)
df_unid['CO_UNIDADE'] = df_unid['CO_UNIDADE'].astype(str)

# Count the number of CO_UNIDADE in df_estab that are not in df_unid
num_nao_existem = (~result['CO_UNIDADE'].isin(df_unid['CO_UNIDADE'])).sum()
total = len(result)

print(f"Número de CO_UNIDADE em df_estab que não estão em df_unid_filter: {num_nao_existem}")

percentual = (num_nao_existem / total) * 100

print(f"Porcentagem de CO_UNIDADE em df_estab que não estão em df_unid_filter: {percentual:.2f}%")

Número de CO_UNIDADE em df_estab que não estão em df_unid_filter: 0
Porcentagem de CO_UNIDADE em df_estab que não estão em df_unid_filter: 0.00%

In [69]:
num_nao_existem = (~result['CO_UNIDADE'].isin(df_unid['CO_UNIDADE'])).sum()
total = len(result)

print(f"Número de CO_UNIDADE em df_estab que não estão em df_unid_filter: {num_nao_existem}")

percentual = (num_nao_existem / total) * 100

print(f"Porcentagem de CO_UNIDADE em df_estab que não estão em df_unid_filter: {percentual:.2f}%")

Número de CO_UNIDADE em df_estab que não estão em df_unid_filter: 2805
Porcentagem de CO_UNIDADE em df_estab que não estão em df_unid_filter: 25.07%

In [70]:
co_unidades_nao_existem = result[~result['CO_UNIDADE'].astype(str).isin(df_unid['CO_UNIDADE'].astype(str))]['CO_UNIDADE'].unique()
print(co_unidades_nao_existem)

[]

#### Regiões de Saúde

In [71]:
df_regioes = pd.read_csv("regioesSaude.csv")

df_regioes.head()

,Codigo Regiao do Pais,Regiao do Pais,Codigo UF,UF,Codigo Macrorregiao de Saude,Macrorregiao de Saude,Codigo Regiao de Saude,Regiao de Saude,Codigo Municipio,Municipio,Populacao Estimada IBGE 2022
0,1,Norte,11,Rondonia,1101,MACRORREGIONAL II (CACOAL),11003,CENTRAL,110012,Ji-Parana,124.333
1,1,Norte,11,Rondonia,1101,MACRORREGIONAL II (CACOAL),11006,CONE SUL,110030,Vilhena,95.832
2,1,Norte,11,Rondonia,1101,MACRORREGIONAL II (CACOAL),11002,CAFE,110004,Cacoal,86.887
3,1,Norte,11,Rondonia,1101,MACRORREGIONAL II (CACOAL),11005,ZONA DA MATA,110028,Rolim de Moura,56.406
4,1,Norte,11,Rondonia,1101,MACRORREGIONAL II (CACOAL),11002,CAFE,110018,Pimenta Bueno,35.079

### Juntando Informações

In [75]:
df_temp = result[['CO_UNIDADE', 'QT_EXIST', 'QT_SUS']].merge(
    df_unid[['CO_UNIDADE', 'CO_MUNICIPIO_GESTOR', 'CO_NATUREZA_JUR', 'CO_MOTIVO_DESAB']],
    on='CO_UNIDADE',
    how='left'
)


df_new = df_temp.merge(
    df_regioes,
    left_on='CO_MUNICIPIO_GESTOR',
    right_on='Codigo Municipio',
    how='left'
)

df_new.head()

,CO_UNIDADE,QT_EXIST,QT_SUS,CO_MUNICIPIO_GESTOR,CO_NATUREZA_JUR,CO_MOTIVO_DESAB,Codigo Regiao do Pais,Regiao do Pais,Codigo UF,UF,Codigo Macrorregiao de Saude,Macrorregiao de Saude,Codigo Regiao de Saude,Regiao de Saude,Codigo Municipio,Municipio,Populacao Estimada IBGE 2022
0,1100012516500,6,0,110001,2062.0,NaN,1.0,Norte,11.0,Rondonia,1101.0,MACRORREGIONAL II (CACOAL),11005.0,ZONA DA MATA,110001.0,Alta Floresta D'Oeste,21.494
1,1100012679477,51,51,110001,1244.0,NaN,1.0,Norte,11.0,Rondonia,1101.0,MACRORREGIONAL II (CACOAL),11005.0,ZONA DA MATA,110001.0,Alta Floresta D'Oeste,21.494
2,1100020102091,28,8,110002,1244.0,10.0,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833
3,1100020145378,12,0,110002,2062.0,NaN,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833
4,1100022494280,37,37,110002,1244.0,NaN,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833

In [78]:
df_new[df_new['Macrorregiao de Saude'].isna()]['CO_UNIDADE']

11092    5300103109658
11182    5300906255892
Name: CO_UNIDADE, dtype: object

In [79]:
# Retirando os que não tem informações
df_new_filtered = df_new[df_new['Macrorregiao de Saude'].notna()]
df_new_filtered.head()

,CO_UNIDADE,QT_EXIST,QT_SUS,CO_MUNICIPIO_GESTOR,CO_NATUREZA_JUR,CO_MOTIVO_DESAB,Codigo Regiao do Pais,Regiao do Pais,Codigo UF,UF,Codigo Macrorregiao de Saude,Macrorregiao de Saude,Codigo Regiao de Saude,Regiao de Saude,Codigo Municipio,Municipio,Populacao Estimada IBGE 2022
0,1100012516500,6,0,110001,2062.0,NaN,1.0,Norte,11.0,Rondonia,1101.0,MACRORREGIONAL II (CACOAL),11005.0,ZONA DA MATA,110001.0,Alta Floresta D'Oeste,21.494
1,1100012679477,51,51,110001,1244.0,NaN,1.0,Norte,11.0,Rondonia,1101.0,MACRORREGIONAL II (CACOAL),11005.0,ZONA DA MATA,110001.0,Alta Floresta D'Oeste,21.494
2,1100020102091,28,8,110002,1244.0,10.0,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833
3,1100020145378,12,0,110002,2062.0,NaN,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833
4,1100022494280,37,37,110002,1244.0,NaN,1.0,Norte,11.0,Rondonia,1102.0,MACRORREGIAO I - PORTO VELHO,11001.0,VALE DO JAMARI,110002.0,Ariquemes,96.833

In [80]:
df_new_filtered.to_csv("dados_atualizados_completo.csv")

In [39]:
result["QT_EXIST"].sum()

np.int64(635707)

In [45]:
df_new_filtered[df_new_filtered['CO_UNIDADE'].isin(emad_list)]

Empty DataFrame
Columns: [CO_UNIDADE, QT_EXIST, QT_SUS, CO_MUNICIPIO_GESTOR, CO_NATUREZA_JUR, CO_MOTIVO_DESAB, Codigo Regiao do Pais, Regiao do Pais, Codigo UF, UF, Codigo Macrorregiao de Saude, Macrorregiao de Saude, Codigo Regiao de Saude, Regiao de Saude, Codigo Municipio, Municipio, Populacao Estimada IBGE 2022]
Index: []

In [58]:
estab = pd.read_csv("tbEstabelecimento202502.csv", encoding='latin1', sep=';')

estab.head()

C:\Users\Carlos\AppData\Local\Temp\ipykernel_69424\627485946.py:1: DtypeWarning: Columns (0,14,15,36,45) have mixed types. Specify dtype option on import or set low_memory=False.
  estab = pd.read_csv("tbEstabelecimento202502.csv", encoding='latin1', sep=';')

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')",CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL,ST_CONTRATO_FORMALIZADO,CO_TIPO_ABRANGENCIA,ST_COWORKING
0,2609602569302,2569302,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF BULTRINS MONTE II,RUA PREFEITO MANOEL REGUEIRA,540,NaN,...,S,NaN,NaN,M,18/06/2003,NaN,NaN,NaN,NaN,NaN
1,2609602571943,2571943,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,UNIDADE MOVEL,RUA DO SOL,311,NaN,...,N,NaN,NaN,M,18/06/2003,16.0,1.0,NaN,NaN,N
2,2609602344637,2344637,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ALTO DA MINA,RUA AVENCA,49,NaN,...,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN,N
3,2609602344696,2344696,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ILHA DE SANTANA I E II,RUA DA INTEGRACAO,S/N,NaN,...,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN,N
4,3112002142295,2142295,NaN,3,1,FUNDACAO COMUNITARIA DE SAUDE DE CANDEIAS,HOSPITAL CARLOS CHAGAS,AVENIDA PEDRO VIEIRA DE AZEVEDO,687,NaN,...,S,NaN,NaN,M,21/03/2002,6.0,9.0,S,NaN,N